.products-list-container {
  width: 50%;
}

.products-list {
  list-style: none;
}

.products-cart {
  list-style: decimal;
}

ul {
  margin: 0;
  padding: 0;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid black;
  padding: 20px;
}
